<div id="header-search-bar">
  <form action="/search" method="get">
    <input type="text" name="q">
    <input type="image" src="{{ 'flecha_negra_top.svg' | asset_url }}">
    <input type="hidden" name="type" value="product">
  </form>
</div>