<section class="howl-text" data-component="hero">
  <div class="howl__container">
    <div class="text__inner">
      
      <div class="text__content">
        {{- content -}}
      </div>

    </div>
  </div>
</section>
