<div class="product-image-grid-container">
    {% for image in product.images %}
        <figure class="item-image">
            <img src="{{ image.src | product_img_url: "large" }}" loading="lazy"/>
        </figure>
    {% endfor %}
</div>
