<div id="product-sizeguide--gloves" class="product-sizeguide--item">

	<div id="product-sizeguide__info">
		<div id="product-sizeguide__info-left">
			<img src="{{ 'size-guide-gloves.svg' | asset_url }}">
		</div>
		<div id="product-sizeguide__info-right">
			<img src="{{ 'img-gloves.jpg' | asset_img_url: 'master' }}">
		</div>
	</div>

</div>