{%- if product.metafields.howl.product_text != blank -%}

<section class="howl-product-text" data-component="text">
  <div class="howl__container">
    <div class="howl-product-text__wrapper">
      <h2>{{ product.metafields.howl.product_text }}</h2>
    </div>
  </div>
</section>

{%- endif -%}